<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itguigu.admin.mapper.UserMapper">

    <!--public User getUserById(String id);-->
    <select id="getUserById" resultType="com.itguigu.admin.pojo.User">
        <!--在此可以通过别名或者开启驼峰命名（全局配置文件中）-->
        select user_name username,user_pwd password from t_user where user_id = #{id}
    </select>
</mapper>